{% extends 'base.html.twig' %}
{% block title %}Contract pdf
{% endblock %}

{% block body %}
{% apply inline_css %}

	{# <div class="container-xl bg-light mx-auto my-5 p-5 d-flex flex-column border border-dark"> #}
	<div style="height : 280mm ; width : 180mm ; display : flex ; flex-direction : column ; font-size: 14px;margin : 5px auto ; padding : 5px ; justify-content :center ; align-items : center ;">
		
			{# <img src="{{ asset('images/OBroderie_logo.png') }}" style="width : 20mm ; height :20mm; margin : auto ;"> #}
<div style = "height : 20mm ; width : 20mm ; margin : auto ;" >
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="20mm" height="20mm" viewBox="0 0 697.000000 622.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,622.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M2992 5983 c-108 -159 -184 -385 -208 -617 -5 -55 -9 -65 -17 -50 -6
10 -13 21 -16 24 -3 3 -21 35 -39 72 -18 37 -36 68 -40 70 -4 2 -22 33 -41 71
-19 37 -40 66 -45 64 -19 -5 -104 -188 -130 -278 -75 -261 -58 -547 46 -791
129 -304 358 -535 913 -923 370 -258 522 -388 689 -588 31 -37 56 -63 56 -57
0 7 102 10 325 8 l324 -3 21 76 c22 82 24 99 13 99 -5 0 -24 14 -43 31 l-35
30 47 -3 c46 -3 47 -2 53 29 25 136 24 466 -1 440 -7 -7 -44 30 -44 44 0 6 -6
17 -12 24 -28 31 -34 42 -48 84 -8 24 -20 45 -27 48 -7 3 -23 27 -34 54 -12
27 -25 49 -30 49 -5 0 -9 7 -9 15 0 14 -35 72 -51 85 -4 3 -10 16 -14 30 -4
14 -16 37 -26 52 -11 14 -19 31 -19 36 0 5 -6 12 -14 15 -8 3 -17 19 -21 36
-4 17 -10 31 -14 31 -4 0 -16 19 -26 43 -10 23 -25 48 -32 55 -7 7 -13 20 -13
28 0 8 -4 14 -8 14 -5 0 -16 17 -25 38 -41 94 -85 134 -445 413 -467 362 -656
528 -762 668 -65 85 -135 224 -150 296 -6 31 -10 87 -8 125 2 39 2 70 1 70 -1
0 -20 -26 -41 -57z"/>
<path d="M2596 3554 c-38 -7 -70 -15 -72 -16 -1 -2 39 -46 89 -99 51 -52 127
-136 170 -186 48 -57 84 -90 92 -87 8 3 11 13 7 22 -3 9 23 -8 59 -40 l64 -56
0 231 0 232 -25 6 c-47 12 -314 7 -384 -7z"/>
<path d="M3273 3526 c7 -15 41 -38 87 -61 87 -43 83 -37 -21 33 -64 42 -75 47
-66 28z"/>
<path d="M2940 2548 c0 -7 155 -130 319 -254 79 -60 154 -117 167 -127 l24
-19 -10 28 c-16 40 -168 336 -185 358 -10 14 -18 16 -27 9 -15 -13 -245 -12
-270 1 -10 4 -18 6 -18 4z"/>
<path d="M626 1330 c-74 -9 -236 -82 -288 -130 -44 -39 -57 -50 -61 -50 -9 0
-74 -66 -105 -106 -67 -88 -159 -280 -148 -310 2 -6 -1 -17 -7 -23 -16 -16
-14 -207 3 -246 7 -16 14 -44 15 -60 1 -28 69 -156 103 -197 8 -10 23 -18 33
-18 10 0 25 -14 34 -32 17 -36 103 -92 158 -103 17 -4 37 -11 42 -15 19 -15
124 -31 162 -25 190 31 424 128 536 223 67 57 161 164 179 205 7 15 16 27 20
27 5 0 7 3 6 8 -1 4 8 39 20 79 26 84 28 150 6 182 -14 19 -14 27 -4 47 16 28
0 165 -21 190 -7 9 -13 24 -14 33 0 28 -44 99 -65 106 -11 4 -20 15 -20 26 0
41 -125 122 -245 159 -22 7 -44 16 -50 20 -16 13 -214 19 -289 10z m168 -91
c19 -5 34 -5 40 1 14 14 29 13 20 -1 -8 -14 10 -26 59 -39 57 -16 161 -94 194
-146 60 -94 103 -211 103 -281 0 -12 5 -25 11 -28 6 -4 8 -14 5 -22 -4 -9 1
-17 14 -20 25 -7 26 -27 2 -50 -11 -10 -19 -35 -21 -57 -1 -22 -8 -54 -15 -70
-7 -17 -23 -54 -36 -83 -33 -74 -138 -181 -212 -215 -20 -9 -45 -25 -55 -35
-23 -22 -107 -63 -131 -63 -9 0 -35 -7 -57 -14 -86 -30 -292 17 -333 75 -7 11
-22 19 -33 19 -11 0 -19 7 -19 17 0 22 -78 93 -96 86 -10 -4 -12 0 -8 10 3 9
-7 35 -23 59 -64 97 -87 180 -81 304 9 199 102 352 293 484 20 14 42 30 48 35
10 9 66 29 112 40 26 6 192 2 219 -6z"/>
<path d="M4763 1321 c-28 -11 -57 -22 -62 -26 -18 -10 -12 -33 10 -40 11 -4
25 -18 30 -33 10 -26 10 -26 -31 -52 -13 -8 -13 -11 -1 -19 13 -8 21 -109 20
-245 0 -22 7 -46 16 -56 15 -17 15 -19 -2 -29 -15 -7 -18 -18 -15 -46 4 -34 3
-37 -16 -31 -89 29 -204 22 -239 -12 -9 -10 -27 -17 -40 -17 -28 0 -112 -64
-113 -87 0 -9 -8 -19 -19 -23 -25 -8 -71 -112 -71 -161 0 -22 9 -56 20 -77 11
-20 19 -42 18 -48 -2 -5 15 -20 37 -32 22 -12 42 -24 45 -27 11 -12 90 -30
131 -30 24 1 78 7 119 14 41 8 115 21 164 30 49 9 91 17 92 19 2 2 -4 41 -12
87 -10 54 -16 156 -18 275 -1 105 -5 196 -10 203 -4 7 -3 18 2 25 6 7 9 44 8
82 -1 39 2 131 6 205 7 130 4 170 -10 170 -4 -1 -30 -9 -59 -19z m-150 -636
c20 -8 38 -19 42 -25 3 -5 18 -10 33 -10 21 -1 31 -9 45 -38 17 -36 17 -37 -3
-53 -18 -15 -18 -18 -3 -23 12 -5 14 -9 5 -18 -7 -7 -12 -45 -12 -94 0 -53 -4
-85 -12 -92 -35 -28 -162 -39 -210 -17 -13 5 -18 3 -18 -9 0 -28 -22 -18 -69
32 -44 46 -81 122 -81 168 0 11 17 42 37 68 38 48 90 81 149 92 18 3 38 12 45
20 14 17 9 17 52 -1z"/>
<path d="M1852 1306 c-59 -9 -77 -16 -92 -36 -27 -35 -25 -40 14 -40 l33 0 7
-62 c4 -35 9 -121 12 -193 4 -89 10 -137 20 -152 10 -16 11 -23 3 -23 -9 0
-10 -53 -6 -209 4 -165 3 -214 -8 -235 -12 -22 -12 -26 1 -26 8 0 14 -4 14
-10 0 -5 -3 -10 -8 -10 -4 0 -7 -30 -7 -67 1 -108 -2 -117 -48 -139 -29 -13
-42 -25 -42 -39 0 -19 8 -20 130 -25 72 -4 135 -9 142 -13 24 -15 166 -24 278
-18 69 4 185 33 305 77 36 12 75 26 88 29 13 4 22 14 22 26 0 13 7 19 21 19
33 0 60 18 125 85 52 53 62 69 69 111 14 88 9 127 -24 209 -36 90 -49 108
-106 150 -22 16 -53 42 -69 58 -40 39 -111 79 -147 83 -17 2 -37 10 -45 19 -8
8 -34 20 -57 26 -23 7 -76 22 -117 34 l-75 22 48 21 c26 11 47 26 47 31 0 6 6
11 14 11 32 0 116 125 116 173 0 37 -20 54 -90 77 -73 25 -297 50 -330 38 -12
-4 -27 -5 -32 -2 -19 12 -131 12 -206 0z m318 -66 c98 -12 144 -26 184 -57 23
-19 27 -27 21 -52 -12 -57 -126 -129 -237 -151 -32 -6 -58 -16 -58 -23 0 -8
-4 -7 -12 1 -7 7 -36 12 -65 12 l-53 0 0 63 c0 35 -5 68 -11 74 -7 7 -8 31 -4
66 l7 56 57 6 c31 4 61 8 66 10 16 5 15 5 105 -5z m7 -376 c43 -9 96 -20 118
-24 22 -4 76 -22 120 -40 44 -18 89 -33 100 -33 11 0 22 -4 25 -8 3 -5 35 -27
71 -51 68 -45 147 -125 176 -181 34 -64 15 -193 -36 -251 -45 -50 -156 -115
-243 -142 -46 -14 -96 -30 -113 -35 -16 -6 -79 -13 -140 -16 -86 -4 -124 -2
-175 12 -77 20 -91 23 -106 24 -8 1 -10 42 -8 136 2 79 -1 137 -7 140 -5 4 -6
12 -2 18 10 16 4 330 -7 341 -5 5 -2 15 6 24 11 10 14 25 9 48 -4 25 -2 35 12
43 26 15 111 13 200 -5z"/>
<path d="M6193 1037 c-28 -28 -52 -59 -53 -67 -4 -28 0 -40 14 -40 19 0 132
86 140 107 7 17 -19 53 -38 53 -6 0 -34 -24 -63 -53z"/>
<path d="M1541 1017 c-19 -7 -43 -24 -54 -39 -19 -25 -19 -28 -4 -52 10 -14
17 -32 17 -40 0 -7 8 -17 17 -20 15 -6 14 -8 -4 -21 -19 -13 -20 -19 -11 -56
9 -33 8 -47 -6 -77 -17 -34 -17 -37 0 -49 30 -22 72 -16 90 13 14 21 17 47 15
137 -1 62 -6 116 -11 121 -4 4 -2 23 5 41 11 24 11 35 3 43 -14 14 -14 14 -57
-1z"/>
<path d="M3339 766 c-3 -3 -20 -8 -38 -11 -18 -3 -50 -15 -72 -25 -48 -25 -59
-25 -59 0 0 30 -25 35 -69 15 -41 -18 -67 -55 -50 -72 12 -12 16 -330 5 -389
-10 -54 9 -62 72 -31 l47 22 -5 110 c-8 201 -7 221 18 248 36 39 169 57 188
26 10 -17 39 -9 73 20 35 29 35 29 17 56 -13 20 -24 26 -42 22 -14 -2 -27 0
-30 4 -5 9 -47 12 -55 5z"/>
<path d="M5265 760 c-60 -12 -90 -26 -155 -70 -105 -71 -153 -170 -129 -270
18 -77 50 -115 127 -151 64 -31 68 -32 176 -26 147 7 222 31 247 78 43 80 12
108 -56 49 -75 -65 -191 -87 -263 -50 -23 12 -42 26 -42 31 0 5 -7 9 -15 9
-25 0 -87 134 -78 169 6 25 50 33 183 36 58 2 113 6 123 10 9 4 23 2 31 -4 14
-12 115 -11 122 1 2 3 -3 25 -12 47 -16 42 -113 140 -131 134 -6 -2 -14 1 -18
6 -7 12 -51 13 -110 1z m100 -95 l30 -24 -30 -2 c-16 -1 -57 -1 -90 0 -33 0
-70 -5 -83 -11 -17 -9 -25 -9 -34 0 -16 16 -4 26 52 46 68 23 120 20 155 -9z"/>
<path d="M5955 761 c-11 -5 -23 -7 -27 -4 -4 2 -30 -8 -57 -22 -62 -31 -69
-31 -73 -2 -4 30 -37 33 -81 7 -40 -24 -53 -46 -37 -65 13 -15 17 -328 6 -391
-10 -54 9 -62 72 -31 l47 22 -5 110 c-10 210 -8 230 20 253 39 33 159 46 185
21 16 -15 39 -9 72 19 29 25 31 30 20 52 -9 17 -21 25 -39 25 -15 1 -30 4 -34
8 -9 9 -43 8 -69 -2z"/>
<path d="M6172 743 c-47 -31 -56 -46 -42 -71 14 -24 29 -228 20 -271 -4 -20
-10 -64 -14 -99 -5 -51 -3 -64 10 -69 18 -7 55 11 91 44 20 20 23 29 17 56 -8
39 -8 337 1 378 7 31 -7 59 -29 59 -7 0 -31 -12 -54 -27z"/>
<path d="M6655 753 c-75 -20 -163 -79 -215 -144 -43 -55 -55 -97 -46 -161 3
-24 6 -51 7 -60 1 -28 84 -107 136 -129 42 -18 62 -20 163 -16 141 6 216 28
241 73 30 51 32 72 10 83 -16 9 -26 5 -61 -29 -64 -61 -183 -86 -257 -54 -24
10 -43 24 -43 30 0 7 -8 14 -19 17 -25 6 -68 82 -77 134 -6 40 -5 43 22 54 16
6 84 12 150 14 67 1 127 6 133 10 7 3 18 2 26 -5 17 -15 116 -9 122 7 15 37
-109 188 -144 176 -6 -2 -14 1 -18 6 -9 15 -59 12 -130 -6z m109 -74 c14 -7
27 -18 30 -25 6 -16 -4 -17 -109 -16 -38 0 -75 -4 -82 -9 -7 -7 -18 -7 -28 -2
-14 8 -14 11 -2 21 42 36 145 52 191 31z"/>
<path d="M3732 740 c-104 -37 -181 -100 -224 -182 -18 -34 -23 -59 -23 -123 0
-71 3 -84 27 -115 15 -19 44 -43 65 -54 21 -10 45 -22 55 -27 69 -35 249 -15
353 39 62 33 74 44 103 97 23 44 32 70 29 98 -1 20 1 37 5 37 11 0 -2 90 -19
128 -9 17 -22 32 -30 32 -8 0 -25 13 -39 29 -25 30 -86 57 -103 47 -5 -4 -12
-2 -16 4 -10 17 -126 11 -183 -10z m160 -58 c7 -7 18 -12 24 -12 21 0 80 -82
91 -125 14 -59 9 -115 -16 -155 -11 -19 -21 -38 -21 -41 0 -4 -23 -19 -52 -34
-47 -25 -58 -27 -122 -21 -109 11 -150 31 -180 91 -33 65 -34 99 -7 161 25 57
88 116 148 138 44 16 118 15 135 -2z"/>
</g>
</svg>

</div>



			<div style= " width : 75% ;  border : solid black 1px ; padding : 5px ;  margin : 5mm ;">

				<p style="margin : 3px ; " >Contrat n° :
					{{contract.id}}</p>
				<p style="margin : 3px ; " >Type :
				{% if contract.type=='order' %}
				Commande
				{% elseif contract.type=='quotation'%}
				Devis
				{% else %}
				Facture
				{% endif %}
				</p>
				<p style="margin : 3px ; " >Commandé le :
					{{contract.orderedAt |date("d/m/Y") }}</p>
				<p style="margin : 3px ; " >Facturé le :
					{{contract.invoicedAt |date("d/m/Y")  }}</p>
				{# <p style="margin : 3px ; " >Statut :
					{{contract.status}}</p> #}
				<p style="margin : 3px ; " >Commentaires :
					{{contract.comment}}</p>
				<p style="margin : 3px ; " >Adresse de livraison :
					{{contract.deliveryAddress}}</p>
				<p style="margin : 3px ; " >Commande suivie par :
					{{contract.user.pseudo}}</p>
			</div>

			<div style="width : 75% ; border : solid black 1px ; padding : 5px ;  margin : 5mm ;">
					<p style="margin : 3px ; " >Nom :
						{{contract.customer.name}}</p>
					<p style="margin : 3px ; " >Adresse :
						{{contract.customer.address}}</p>
					<p style="margin : 3px ; " >Email :
						{{contract.customer.email}}</p>
					<p style="margin : 3px ; " >Personne à contacter :
						{{contract.customer.contact}}</p>
			</div>
		
		


		<table style="border-collapse: collapse; width: 80%; margin : 5rem auto ;">

			<thead style="">
				<tr>
					<th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;">Ordre</th>
					<th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;">Nom</th>
					<th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;">Quantité</th>
					<th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;">Prix Unitaire H.T.</th>
					<th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;">Prix Unitaire T.T.C.</th>
                    <th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;">Prix Total H.T.</th>
					<th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;">Prix Total T.T.C.</th>
				</tr>
			</thead>

            <tbody>

			{% set totalGlobalTTC = 0 %}
			{% set totalGlobalHT = 0 %}

            {% for product in contract.products %}
                <tr style="background-color: #ffffff;">
					<th scope="row" style="border: 1px solid black; padding: 8px; text-align: center;">{{product.id}}</th>
					<td style="border: 1px solid black; padding: 8px; ">{{product.name}}</td>
					<td style="border: 1px solid black; padding: 8px; text-align: center;">{{product.quantity}}</td>
					<td style="border: 1px solid black; padding: 8px; text-align: center;">{{product.price}}</td>
					<td style="border: 1px solid black; padding: 8px; text-align: center;">{% set productTTC = product.price * 1.2 %} {{productTTC}}</td>
                    <td style="border: 1px solid black; padding: 8px; text-align: center;">{% set totalHT = product.price * product.quantity %} {{totalHT}} </td>
					<td style="border: 1px solid black; padding: 8px; text-align: center;">{% set totalTTC = product.price * product.quantity * 1.2  %} {{totalTTC}} </td>
				</tr>
			{% set totalGlobalHT = totalGlobalHT + totalHT %}
			{% set totalGlobalTTC = totalGlobalTTC + totalTTC %}
            {% endfor %}
				
			</tbody>
			<tfoot style="border: 1px solid black; padding: 8px;">
				<tr>
				<th scope="row" colspan="3"style="border: 1px solid black; padding: 8px; text-align: center;">Total H.T.</th>
				<td colspan="4" style="border: 1px solid black; padding: 8px; text-align: end;" >{{totalGlobalHT}}</td>
				</tr>
				<tr>
				<th scope="row" colspan="3"style="border: 1px solid black; padding: 8px; text-align: center;">Total T.T.C.</th>
				<td colspan="4" style="border: 1px solid black; padding: 8px; text-align: end;" >{{totalGlobalTTC}}</td>
				</tr>
			</tfoot>
		</table>
	</div>

	{# <p style = "font-style :italic ; text-align: center; margin-bottom : 1rem ;"> Les tarifs mentionnés sont exprimés en euros. </p> #}

{% endapply %}
{% endblock %}



